@font-face {
  font-family: Gotham Narrow;
  src: url('../fonts/GothamNarrow-Book.otf');
}

@font-face {
  font-family: Gotham Narrow-Bold;
  src: url('../fonts/GothamNarrow-Black.otf');
}

@font-face {
  font-family: Gotham Narrow-Light;
  src: url('../fonts/GothamNarrow-Light.otf');
}

* {
  box-sizing: border-box;
}

body, input {
  overflow-x: hidden;
  margin: 0 auto;
  text-align: center;
  background-color: black;
  font-family: "Gotham Narrow";
}

#header {
  height: 1007px;
  background-image: url("../image/header-bg.png");
  background-repeat: no-repeat;
  background-size: 100% 132%;
  background-position: 0px -144px;
  border-bottom: 3px solid #4bc9ff;
  color: white;
  overflow: hidden;
}

#header>.banner {
  width: 100%;
  height: 100px;
  padding: 30px 262px;
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);
  background-color: rgba(0, 0, 0, 0.25);
}

#header>.banner>.logo {
  float: left;
}

#header>.banner>.logo:hover {
  cursor: pointer;
}

#header>.banner>.contact {
  float: right;
  margin-right: 45px;
}

#header>.banner .whatsapp {
  position: relative;
}

#header>.banner .whatsapp img:nth-child(1) {
  position: absolute;
  top: -20px;
  right: 107px;
}

#header>.banner .whatsapp img:nth-child(2) {
  position: absolute;
  top: -19px;
  right: 107px;
}

#header>.banner .whatsapp img:nth-child(3) {
  position: absolute;
  left: 0px;
  top: 427px;
}

#header>.banner .fa {
  color: white;
  width: 30px;
  padding: 3px;
  margin-right: -3px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  border: 1px solid white;
}

#header>.banner .fa:hover {
  opacity: 0.7;
}

#header>.ads {
  position: relative;
}

#header>.ads img:nth-child(1) {
  position: absolute;
  top: 218px;
  width: 902px;
  left: -131px;
}

#header>.ads img:nth-child(2) {
  position: absolute;
  left: -90px;
  top: 257px;
}

#header>.ads .board {
  position: absolute;
  left: 782px;
  top: 187px;
  text-align: left;
}

#header>.ads .board h1 {
  font-size: 61px;
  font-weight: 100;
  font-family: Gotham Narrow-Bold;
}

#header>.ads .board p.desc1 {
  font-size: 25px;
  font-weight: 500;
}

#header>.ads .board p.desc2 {
  display: inline-block;
  font-size: 21px;
  font-family: Gotham Narrow-Light;
  padding: 50px 10px;
}

#header>.ads .board .button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 67px;
}

#header>.ads .board .input-trans {
  flex-basis: 30%;
  color: white;
  background: transparent;
  border: 2px solid white;
  font-size: 24px;
  font-family: Gotham Narrow-Light;
  border-radius: 11px;
  padding: 14px 0px;
  margin-right: 21px;
}

#header>.ads .control-group {
  padding: 40px 36px 20px 20px;
}

#header>.ads .control-group .check-group {
  float: left;
}

#header>.ads .control-group .control {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 21px;
  font-family: Gotham Narrow-Light;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */

#header>.ads .control-group .control input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */

#header>.ads .control-group .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: transparent;
  border: 3px solid white;
}

/* On mouse-over, add a grey background color */

#header>.ads .control-group .control:hover input~.checkmark {
  background-color: white;
}

/* When the checkbox is checked, add a blue background */

#header>.ads .control-group .control input:checked~.checkmark {
  background-color: transparent;
}

/* Create the checkmark/indicator (hidden when not checked) */

#header>.ads .control-group .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */

#header>.ads .control-group .control input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */

#header>.ads .control-group .control .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#body>.advantages {
  position: relative;
  background-color: #fafafa;
  background-image: url(../image/Advatage_bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 70% 60%;
}

#body>.advantages .adv-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 82px;
}

#body>.advantages .adv-item {
  padding: 10px 20px;
  text-align: center;
  flex-basis: 25%;
}

#body>.advantages .adv-head img.odul {
  position: absolute;
  left: 82px;
  top: -436px;
  height: 487px;
}

#body>.advantages .adv-body {
  padding: 100px 94px 200px 94px;
}

#body>.advantages .adv-body h1 {
  margin: 0px;
  font-size: 45px;
  color: #414042;
  font-family: Gotham Narrow-Bold;
}

#body>.advantages .adv-marker {
  background-color: #4bcaff;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
}

#body>.advantages .adv-marker>img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#body >.advantages .adv-item h3 {
  font-family: Gotham Narrow-Bold;
  color: #414042;
}

#body>.meta-trader {
  position: relative;
  color: white;
  background-color: #004a80 20;
  background-image: linear-gradient(#001e49 0%, #004a80 20%, #0069a6 90%);
}

#body>.meta-trader .meta-head, #body>.product-range .range-head {
  width: 100%;
  height: 20px;
  background-color: #12509d;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 36%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 36%, 0% 100%);
}

#body>.meta-trader .meta-body {
  padding: 350px 165px 84px 163px;
}

#body>.meta-trader .meta-body .meta-title>img {
  position: absolute;
  top: -43px;
  left: 572px;
}

#body>.meta-trader .meta-body .meta-title>h1 { 
  font-size: 45px;
  font-family: Gotham Narrow-Bold;
}

#body>.meta-trader .meta-items {
  margin-top: 62px;
}

#body>.meta-trader .meta-item {
  font-size: 30px;
  font-family: Gotham Narrow-Light;
  line-height: 36px;
}

#body>.meta-trader .meta-item>h3 {
  font-size: 30px;
  font-family: Gotham Narrow-Bold;
  margin-top: 57px;
}

#body>.product-range {
  background-color: white;
}

#body .range-title h1 {
  color: #414042;
  font-weight: 800;
  font-size: 45px;
  font-family: Gotham Narrow-Bold;
  padding: 38px 0px 38px 0px;
}

#body .range-body {
  padding: 30px 165px 100px 165px;
}

#body .range-title {
  margin-bottom: 40px;
}

#body .range-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#body .range-item {
  padding: 20px;
  margin-bottom: 40px;
  width: 400px;
}

#body .range-one {
  background-image: url("../image/range1.png");
}

#body .range-two {
  background-image: url("../image/range2.png");
}

#body .range-three {
  background-image: url("../image/range3.png");
}

#body .range-four {
  background-image: url("../image/range4.png");
}

#body .range-five {
  background-image: url("../image/range5.png");
}

#body .range-six {
  background-image: url("../image/range6.png");
}

#body .range-thumail {
  position: relative;
  background-repeat: no-repeat;
  background-position: -69px -43px;
  border-radius: 9px;
  height: 214px;
  max-width: 360px;
  margin-bottom: 15px;
}

#body .range-thumail h3 {
  position: absolute;
  color: white;
  font-size: 24px;
  letter-spacing: -2px;
  line-height: 27px;
  font-weight: bold;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -120%);
}

#body>.description {
  color: #494949;
  background-color: white;
  font-size: 23px;
  font-family: Gotham Narrow-Light;
  line-height: 34px;
  text-align: center;
}

#body>.description .desc-head {
  padding: 38px;
  border-top: 7px solid #e1e1e1;
  border-bottom: 7px solid #e1e1e1;
  background-color: #f7f7f7;
}

#body>.description .desc-body {
  padding: 60px 255px 115px 255px;
}

#body>.description .desc-body p {
  margin-bottom: 30px;
}

#footer>.link {
  color: #4d889a;
  font-size: 15px;
  width: 100%;
  background-color: #004b5e;
  padding: 30px 180px 20px 180px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#footer>.link .link-group {
  float: left;
  flex-basis: 23%;
  padding: 5px 10px 5px 10px;
}

#footer>.link .link-group * {
  display: block;
  margin-bottom: 10px;
}

#footer>.link a {
  color: #b4d2dc;
}

#footer>.link a:hover {
  color: white;
}

#footer>.link .contact {
  flex-basis: 31%;
  min-width: 250px;
}

#footer>.link .contact .trend, #footer>.link .contact .verisign {
  width: 100px;
}

#footer>.link .link-group .social a {
  color: white;
  font-size: 25px;
  padding: 5px 10px;
  display: inline-block;
  text-decoration: none;
}

#footer>.link .link-group .social a:hover {
  opacity: 0.7;
}

#footer>.link .link-group .secur {
  width: 24px;
  height: 27px;
  margin-right: 10px;
}

#footer>.link .link-group p.secur-text {
  margin-top: 2px;
}

#footer>.copyright {
  text-align: left;
  color: #c1e0d4;
  background-color: #009c71;
  width: 100%;
  padding: 30px 277px;
}

#footer>.copyright h1 {
  color: #8acabe;
  font-size: 17px;
}

/* Input text placeholder color */

::-webkit-input-placeholder {
  /* Edge */
  color: white;
}

:-ms-input-placeholder {
  /* Internet Explorer */
  color: white;
}

::placeholder {
  color: white;
}

/* COMMON STYLE */

.flex {
  display: flex !important;
}

.inline {
  display: inline-block !important;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.button-red {
  font-size: 21px;
  color: #f5f5f5;
  font-weight: 100;
  font-family: Gotham Narrow-Bold;
  width: 233px;
  height: 59px;
  border-radius: 26px;
  border-color: red;
  background-color: #ff0000;
  display: block;
}

.button-red:hover {
  cursor: pointer;
  color: red;
  border-color: red;
  background-color: white;
}

.full-width {
  width: 100%
}

strong {
  font-family: Gotham Narrow;
}

/*--- Media Queries ---*/
@media (max-width: 1689px) {
  #header>.ads .board h1 {
    font-size: 48px;
  }
  #header {
    background-size: 100% 1153px;
  }
}

@media (max-width: 1689px) {
  #header {
    height: 883px;
  }
  #header>.ads .board h1 {
    font-size: 44px;
  }
  #header>.ads .board {
    position: absolute;
    left: 682px;
    top: 153px;
    text-align: left;
  }
  #header>.ads .board p.desc1 {
    font-size: 25px;
    font-weight: 500;
  }
  #header>.ads img:nth-child(1) {
    position: absolute;
    top: 175px;
    width: 795px;
    left: -131px;
  }
  #body>.advantages .adv-head img.odul {
    position: absolute;
    left: 40px;
    top: -395px;
    height: 455px;
  }
  #header>.ads .board .input-trans {
    font-size: 20px;
    border-radius: 11px;
    padding: 10px 0px;
    margin-right: 23px;
  }
  .button-head {
    font-size: 19px;
    width: 209px;
    height: 55px;
  }
  #body>.meta-trader .meta-body .meta-title>img {
    position: absolute;
    top: -43px;
    left: 382px;
  }
}
@media (max-width: 1397px) {
  /* #header {
    height: 709px;
    background-size: 100% 965px;
  }

  #header>.banner>.contact {
    display: none;
  }
  #header>.banner>.logo {
    float: inherit;
  } */
  #header {
    height: 818px;
  }
  #header>.banner {
    padding: 30px 62px;
  }
  #header>.ads img:nth-child(1) {
    width: inherit;
    top: 187px;
  }
  #header>.ads .board {
    left: 558px;
    top: 183px;
  }
  #header>.ads .board h1 {
    font-size: 36px;
  }
  #header>.ads .board p.desc1 {
    font-size: 19px;
  }
  #header>.ads .board .input-trans {
    font-size: 15px;
  }
  #header>.ads .control-group .control {
    font-size: 16px;
  }
  .button-head {
    font-size: 15px;
    width: 155px;
    height: 40px;
  }
  #header>.ads .board p.desc2 {
    font-size: 15px;
  }
  #body>.advantages .adv-head img.odul {
    width: inherit;
    height: inherit;
    top: -347px;
  }
  #body>.meta-trader .meta-body .meta-title>img {
    display: none;
  }
  #body>.meta-trader .meta-body {
    padding: 350px 165px 68px 163px;
  }
}

@media (max-width: 1194px) {
  #header {
    height: 752px;
  }
  #header>.ads img:nth-child(1) {
    width: 511px;
    top: 260px;
    left: -114px;
  }
  #body>.advantages .adv-head img.odul {
    width: 354px;
    height: inherit;
    top: -284px;
    left: -4px;
  }
  #header>.ads .board {
    left: 383px;
  }
  #header>.ads .board p.desc2 {
    padding: 0px;
  }
}

@media (max-width: 900px) {
  .ads-img {
    display: none;
  }
  #header>.ads {
    position: inherit;
  }
  #header>.ads .board {
    position: inherit;
    float: inherit;
    text-align: center;
  }
  #header>.ads .control-group {
    text-align: left;
  }
  h1 {
    font-size: 23px !important;
  }
  input, button {
    font-size: 15px !important;
  }
  #header {
    height: 669px;
    background-position: 0px -79px;
    background-size: 150% 112%;
  }
  #header>.banner {
    padding: 15px;
    height: 81px;
  }
  #header>.banner>.logo {
    float: left;
    margin-top: 25px;
  }
  #header>.banner>.contact {
    display: inherit;
    float: right;
    margin-right: 14px;
  }
  #header>.banner .whatsapp {
    margin-bottom: 21px;
    display: block !important;
  }
  #header>.banner .whatsapp a {
    display: block !important;
    margin-top: 33px;
  }
  #header>.banner .whatsapp img:nth-child(1) {
    position: absolute;
    top: -39px;
    right: -1px;
  }
  #header>.banner .whatsapp img:nth-child(2) {
    position: absolute;
    top: -37px;
    right: -1px;
  }
  #header>.ads .board .button-group {
    display: inherit;
    margin-top: 100px;
    margin-top: 33px;
  }
  #header>.ads h1 {
    margin-top: 61px;
  }
  #header>.ads .board p.desc1 {
    font-size: 18px;
  }
  #header>.ads .board .input-trans {
    color: white;
    background: transparent;
    border: 2px solid white;
    font-size: 20px;
    border-radius: 5px;
    padding: 5px 0px;
    margin: 0 auto;
    margin-bottom: 9px;
    width: 92%;
  }
  #header>.ads .control-group {
    padding: 10px 0px 0px 0px;
  }
  #header>.ads .control-group .check-group {
    float: left;
    margin-left: 61px;
  }
  #header>.ads .control-group .button-red {
    margin: 0 auto;
    margin-bottom: 0px;
    padding: 8px 7px;
    float: inherit;
    height: 40px;
    width: 80%;
  }
  #header>.ads .control-group .control {
    font-size: 17px;
  }
  #header>.ads .board p.desc2 {
    display: inline-block;
    font-size: 15px;
    font-family: Gotham Narrow-Light;
    padding: 19px 10px;
  }
  .trend-img {
    width: 150px !important;
  }
  #body .range-body {
    padding: 37px;
  }
  #body>.advantages {
    /* background-position: -68px 487px; */
    /* background-size: 124% 26%; */
  }
  #body>.advantages .adv-body {
    padding: 100px 20px 50px 20px;
  }
  #body>.advantages .adv-marker {
    width: 120px;
    height: 120px;
  }
  #body>.advantages .adv-item,
  #footer>.link .link-group {
    margin: 0 auto !important;
  }
  #body>.advantages .adv-item {
    flex-basis: inherit;
    font-size: 13px;
    flex-basis: 50%;
  }
  #body>.meta-trader .meta-item>h3 {
    font-size: 20px;
  }
  #body>.meta-trader .meta-item {
    font-size: 18px;
  }
  #body>.meta-trader .meta-body, #body>.description .desc-body, #footer>.copyright {
    padding: 30px;
  }
  #body .range-thumail h3 {
    font-size: 18px;
  }
  #body>.description {
    font-size: 18px;
  }
  #footer>.link {
    padding: 30px 10px 20px 10px;
  }
  #footer>.link .link-group {
    margin: 0 auto !important;
    min-width: 305px;
  }
  #footer>.link .link-group .secur {
    margin-right: 5px;
  }
  #footer>.copyright h1 {
    font-size: 17px !important;
  }
}