@font-face {
  font-family: Gotham Narrow;
  src: url('../fonts/GothamNarrow-Book.otf');
}

* {
  box-sizing: border-box;
}

body, input {
  overflow-x: hidden;
  max-width: 1480px;
  margin: 0 auto;
  text-align: center;
  background-color: black;
  font-family: "Gotham Narrow";
}

#header {
  height: 888px;
  background-image: url("../image/header-bg.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-size: cover;
  background-position: center;
  border-bottom: 3px solid #4bc9ff;
  color: white;
  overflow: hidden;
}

#header>.banner {
  width: 100%;
  height: 100px;
  padding: 30px 165px;
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);
  background-color: rgba(0, 0, 0, 0.2);
}

#header>.banner>.logo {
  float: left;
}

#header>.banner>.logo:hover {
  cursor: pointer;
}

#header>.banner>.contact {
  float: right;
}

#header>.banner .whatsapp {
  position: relative;
}

#header>.banner .whatsapp img:nth-child(1) {
  position: absolute;
  top: -20px;
  right: 65px;
}

#header>.banner .whatsapp img:nth-child(2) {
  position: absolute;
  top: -21px;
  right: 66px;
}

#header>.banner .whatsapp img:nth-child(3) {
  position: absolute;
  left: 0px;
  top: 427px;
}

#header>.banner .fa {
  color: white;
  width: 25px;
  padding: 5px;
  margin-right: -3px;
  font-size: 15px;
  text-align: center;
  text-decoration: none;  
  border-radius: 50%;
  border: 1px solid white;
}

#header>.banner .fa:hover {
  opacity: 0.7;
}

#header>.ads {
  position: relative;
}

#header>.ads img:nth-child(1) {
  position: absolute;
  top: 257px;
  left: -44px;
}

#header>.ads img:nth-child(2) {
  position: absolute;
  left: -90px;
  top: 257px;
}

#header>.ads .board {
  position: absolute;
  left: 621px;
  top: 228px;
  text-align: left;
}

#header>.ads .board h1 {
  font-size: 48px;
  font-weight: 100;
}

#header>.ads .board p.desc1 {
  font-size: 21px;
  font-weight: 500;
}

#header>.ads .board p.desc2 {
  display: inline-block;
  font-size: 17px;
  font-size: 17px;
  padding: 40px 10px;
}

#header>.ads .board .button-group {
  display: flex;
  justify-content: space-between;
}

#header>.ads .board .input-trans {
  flex-basis: 30%;
  color: white;
  background: transparent;
  border: 3px solid white;
  font-size: 19px;
  border-radius: 11px;
  padding: 8px 25px;
  margin-right: 21px;
}

#header>.ads .control-group {
  padding: 40px 36px 20px 20px;
}

#header>.ads .control-group .check-group {
  float: left;
}

#header>.ads .control-group .control {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 17px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
#header>.ads .control-group .control input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
#header>.ads .control-group .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: transparent;
  border: 3px solid white;
}

/* On mouse-over, add a grey background color */
#header>.ads .control-group .control:hover input ~ .checkmark {
  background-color: white;
}

/* When the checkbox is checked, add a blue background */
#header>.ads .control-group .control input:checked ~ .checkmark {
  background-color: transparent;
}

/* Create the checkmark/indicator (hidden when not checked) */
#header>.ads .control-group .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
#header>.ads .control-group .control input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
#header>.ads .control-group .control .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#body>.advantages {
  position: relative;
  background-color: #fafafa;
  background-image: url(../image/Advatage_bg.png);
  background-size: 120% 803px;
  background-repeat: no-repeat;
  background-position: -241px 35px;
}

#body>.advantages .adv-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 82px;
}

#body>.advantages .adv-item {
  padding: 10px 20px;
  text-align: center;
  flex-basis: 25%;
}

#body>.advantages .adv-head img.odul {
  position: absolute;
  left: 41px;
  top: -331px;
}

#body>.advantages .adv-body {
  padding: 70px 70px;
}

#body>.advantages .adv-body h1 {
  margin: 0px;
  font-size: 36px;
  color: #414042;
  font-weight: 800;
}

#body>.advantages .adv-marker {
  background-color: #4bcaff;
  padding: 33px 2px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 0 auto;
}

#body>.meta-trader {
  position: relative;
  color: white;
  background-color: #004a80 20;
  background-image: linear-gradient(#001e49 0%, #004a80 20%, #0069a6 90%);
}

#body>.meta-trader .meta-head,
#body>.product-range .range-head {
  width: 100%;
  height: 20px;
  background-color: #12509d;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 36%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 36%, 0% 100%);
}

#body>.meta-trader .meta-body {
  padding: 350px 165px 30px 163px;
}

#body>.meta-trader .meta-body .meta-title > img {
  position: absolute;
  top: -43px;
  left: 375px;
}

#body>.meta-trader .meta-body .meta-title > h1 {
  font-size: 36px;
  font-weight: 800;
}

#body>.meta-trader .meta-items {
  margin-top: 37px;
}

#body>.meta-trader .meta-item,
#body>.meta-trader .meta-item > h3 {
  font-size: 23px;
  line-height: 36px;
}

#body>.product-range {
  background-color: white;
}

#body .range-title h1 {
  font-size: 36px;
  color: #414042;
  font-weight: 800;
}

#body .range-body {
  padding: 30px 165px 100px 165px;
}

#body .range-title {
  margin-bottom: 40px;
}

#body .range-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#body .range-item {
  padding: 20px;
  width: 336px;
}

#body .range-one {
  background-image: url("../image/range1.png");
}
#body .range-two {
  background-image: url("../image/range2.png");
}
#body .range-three {
  background-image: url("../image/range3.png");
}
#body .range-four {
  background-image: url("../image/range4.png");
}
#body .range-five {
  background-image: url("../image/range5.png");
}
#body .range-six {
  background-image: url("../image/range6.png");
}

#body .range-thumail {
  position: relative;
  background-repeat: no-repeat;
  background-position: -69px -43px;
  border-radius: 9px;
  height: 214px;
  max-width: 296px;
  margin-bottom: 15px;
}

#body .range-thumail h3 {
  position: absolute;
  left: 65px;
  top: 68px;
  color: white;
  font-size: 24px;
  letter-spacing: -2px;
  line-height: 27px;
  font-weight: bold;
}

#body>.description {
  color: #494949;
  background-color: white; 
  font-size: 23px;
  line-height: 34px;
  text-align: center;
}

#body>.description .desc-head {
  padding: 38px;
  border-top: 7px solid #e1e1e1;
  border-bottom: 7px solid #e1e1e1;
  background-color: #f7f7f7;
}

#body>.description .desc-body {
  padding: 60px 165px 70px 165px;
}

#footer>.link {
  color: #4d889a;
  font-size: 15px;
  width: 100%;
  background-color: #004b5e;
  padding: 30px 180px 20px 180px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#footer>.link .link-group {
  float: left;
  flex-basis: 23%;
  padding: 5px 10px 5px 10px;
}

#footer>.link .link-group * {
  display: block;
  margin-bottom: 10px;
}

#footer>.link  a {
  color: #b4d2dc;
}

#footer>.link  a:hover {
  color: white;
}

#footer>.link .contact {
  flex-basis: 31%;
  min-width: 250px;
}

#footer>.link .contact .trend,
#footer>.link .contact .verisign {
  width: 100px;
}

#footer>.link .link-group .social a {
  color: white;
  font-size: 25px;
  padding: 5px 10px;
  display: inline-block;
  text-decoration: none;
}

#footer>.link .link-group .social a:hover {
  opacity: 0.7;
}

#footer>.link .link-group .secur {
  width: 24px;
  height: 27px;
  margin-right: 10px;
}

#footer>.link .link-group p.secur-text {
  margin-top: 2px;
}

#footer>.copyright {
  text-align: left;
  color: #c1e0d4;
  background-color: #009c71;
  width: 100%;
  padding: 30px 180px 20px 180px;
}

#footer>.copyright h1 {
  color: #8acabe;
  font-size: 17px;
}

/* Input text placeholder color */
::-webkit-input-placeholder { /* Edge */
  color: white;
}

:-ms-input-placeholder { /* Internet Explorer */
  color: white;
}

::placeholder {
  color: white;
}

/* COMMON STYLE */
.flex {
  display: flex !important;
}

.inline {
  display: inline-block !important;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.button-red {
  font-size: 18px;
  color: #f5f5f5;
  font-weight: 100;
  width: 194px;
  height: 51px;
  border-radius: 26px;
  border-color: red;
  background-color: #ff0000;
  display: block;
}

.button-red:hover {
  cursor: pointer;
  color: red;
  border-color: red;
  background-color: white;
}

.full-width {
  width: 100%
}

/*--- Media Queries ---*/
@media (max-width: 1405px) {
  #header>.ads .board h1 {
    font-size: 36px;
    font-weight: 100;
  }

  #header>.ads .board .input-trans {
    flex-basis: 30%;
    color: white;
    background: transparent;
    border: 2px solid white;
    font-size: 20px;
    border-radius: 5px;
    padding: 5px 0px;
    margin-right: 10px;
  }

  #body>.meta-trader .meta-body .meta-title > img {
    left: 223px;
  }

  #footer>.link,
  #footer>.copyright {
    padding: 30px 100px 20px 100px;
  }
}

@media (max-width: 1290px) {
  .ads-img {
    display: none;
  }

  #header {
    height: 600px;
  }

  #header>.ads {
    position: inherit;
  }

  #header>.ads .board {
    position: inherit;
    float: inherit;
    text-align: center;
  }
  #header>.ads .control-group {
    text-align: left;
  }

  #header>.banner>.contact {
    display: none;
  }

  #header>.banner>.logo {
    float: inherit;
  }

  #body>.meta-trader .meta-body .meta-title > img {
    display: none;
  }

  #body>.meta-trader .meta-body {
    padding: 50px 165px 30px 163px;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 20px !important;
  }

  input, button {
    font-size: 15px !important;
  }

  #header {
    height: 733px;
  }

  #header>.banner {
    padding: 15px;
  }

  #header>.banner>.logo {
    float: left;
    margin-top: 25px;
  }

  #header>.banner>.contact {
    display: inherit;
    float: right;
  }

  #header>.banner .whatsapp {
    margin-bottom: 21px;
    display: block !important;
  }

  #header>.banner .whatsapp a {
    display: block !important;
    margin-top: 33px;
  }

  #header>.banner .whatsapp img:nth-child(1) {
    position: absolute;
    top: -39px;
    right: -6px;
  }

  #header>.banner .whatsapp img:nth-child(2) {
    position: absolute;
    top: -37px;
    right: -5px;
  }
  
  #header>.ads .board .button-group {
    display: inherit;
    margin-top: 72px;
  }

  #header>.ads h1 {
    margin-top: 61px;
  }

  #header>.ads .board .input-trans {
    color: white;
    background: transparent;
    border: 2px solid white;
    font-size: 20px;
    border-radius: 5px;
    padding: 5px 0px;
    margin: 0 auto;
    margin-bottom: 9px;
    width: 92%;
  }

  #header>.ads .control-group {
    padding: 10px 0px 0px 0px;
  }

  #header>.ads .control-group .check-group {
    float: left;
    margin-left: 61px;
  }

  #header>.ads .control-group .button-red {
    margin: 0 auto;
    margin-bottom: -37px;
    float: inherit;
  }

  .trend-img {
    width: 150px !important;
  }

  #body .range-body {
    padding: 37px;
  }

  #body>.advantages .adv-item,
  #footer>.link .link-group {
    margin: 0 auto !important;
  }

  #body>.meta-trader .meta-body,
  #body>.description .desc-body,
  #footer>.copyright {
    padding: 30px;
  }

  #footer>.link {
    padding: 30px 70px 20px 70px;
  }
  
  #footer>.link .link-group {
    margin: 0 auto !important;
    min-width: 250px;
  }
}